@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.body {
  background-color: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: none;
  align-items: center;
  z-index: 100;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.logo1 {
  font-size: 32px;
  color: #B22234; /* Old Glory Red */
  text-decoration: none;
  font-weight: 700;
  margin-left: 5px;
}

.logo2 {
  font-size: 32px;
  color: #3C3B6E; /* Old Glory Blue */
  text-decoration: none;
  font-weight: 700;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: #333333;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

document.querySelectorAll('#map path').forEach(state=> {
    state.addEventListener('mouseover', function() {
        // Display poll results
        // This assumes you have a function getPollResults that takes a state id and returns poll results
        const pollResults=getPollResults(this.id);
        this.setAttribute('title', pollResults);
      }

    );

    state.addEventListener('click', function() {
        // Redirect to state page
        window.location.href=`https: //yourwebsite.com/${this.id}`;
      }

    );
  }

);

svg {
  /* Adjust these values according to the size of your SVG */
  width: 50%;
  height: auto;
}
}
